.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-family: "Poppins", sans-serif;
}

.categorias {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: 100px;
}

.categorias > a > button {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5%;
}

.categorias > a > button:hover {
    background-color: rgb(225, 230, 230);
}

img {
    width: 32px;
}

.cart-widget {
    display: flex;
    align-items: center;
}